Issued Building Permits by City of Vancouver

Vancouver is known for having one of the highest real state market in the world. This project is to analyze the building permits issued by the City of Vancouver focusing on dwellings and houses. 
Main goal is to find which area had most permits issued and which area received most investments?

Dataset can be found here https://opendata.vancouver.ca/explore/dataset/issued-building-permits/information/

In [1]:
--We started importing libraries required to run SQL in Jupyter notebooks and to connect to our Postgresql database already created. 

import pandas as pd
import sqlalchemy as sa

from sqlalchemy import create_engine
engine = create_engine('postgresql://scott:tiger:***@localhost:5432/vancouver_issued_permit')

import sqlalchemy as sa

engine = sa.create_engine('postgresql://postgres:***@localhost:5432/vancouver_issued_permit')

%reload_ext sql
%sql $engine.url

In [2]:
%%sql
--Checking table schema (columns and data types)

SELECT table_name,
       column_name,
       data_type 
FROM information_schema.columns
WHERE table_name = 'vc_bldg_permits'

 * postgresql://postgres:***@localhost:5432/vancouver_issued_permit
20 rows affected.

[('vc_bldg_permits', 'project_value', 'numeric'),
 ('vc_bldg_permits', 'permit_number_created_date', 'date'),
 ('vc_bldg_permits', 'issue_date', 'date'),
 ('vc_bldg_permits', 'permit_elapsed_days', 'integer'),
 ('vc_bldg_permits', 'geo_point_2d', 'text'),
 ('vc_bldg_permits', 'type_of_work', 'text'),
 ('vc_bldg_permits', 'permit_number', 'text'),
 ('vc_bldg_permits', 'project_description', 'text'),
 ('vc_bldg_permits', 'permit_category', 'text'),
 ('vc_bldg_permits', 'applicant', 'text'),
 ('vc_bldg_permits', 'applicant_address', 'text'),
 ('vc_bldg_permits', 'property_use', 'text'),
 ('vc_bldg_permits', 'specific_use_category', 'text'),
 ('vc_bldg_permits', 'building_contractor', 'text'),
 ('vc_bldg_permits', 'building_contractor_address', 'text'),
 ('vc_bldg_permits', 'issue_year', 'text'),
 ('vc_bldg_permits', 'geo_local_area', 'text'),
 ('vc_bldg_permits', 'geom', 'text'),
 ('vc_bldg_permits', 'year_month', 'text'),
 ('vc_bldg_permits', 'address', 'text')]

We started an exploratory data analysis (EDA) to know our dataset.

In [3]:
%%sql 
--Total number of lines on table

SELECT COUNT(*) 
FROM vc_bldg_permits

 * postgresql://postgres:***@localhost:5432/vancouver_issued_permit
1 rows affected.

[(34478,)]

In [4]:
%%sql
--Date range of the table

SELECT MIN(issue_date) AS oldest_date,
       MAX(issue_date) AS newest_date
FROM vc_bldg_permits

 * postgresql://postgres:***@localhost:5432/vancouver_issued_permit
1 rows affected.

[(datetime.date(2017, 1, 3), datetime.date(2023, 1, 6))]

In [5]:
%%sql
--Total permits per year

SELECT issue_year,
       COUNT(*)
FROM vc_bldg_permits
GROUP BY issue_year
ORDER BY issue_year

 * postgresql://postgres:***@localhost:5432/vancouver_issued_permit
7 rows affected.

[('2017', 6734),
 ('2018', 6758),
 ('2019', 5572),
 ('2020', 4390),
 ('2021', 5052),
 ('2022', 5914),
 ('2023', 58)]

In [6]:
%%sql
--Longest and shortest time to issue a permit, and average time in days to issue a permit

SELECT MAX(permit_elapsed_days) AS longest_time_processing_permit,
       MIN(permit_elapsed_days) AS shortest_time_processing_permit,
       ROUND(AVG(permit_elapsed_days)) AS avg_time_issue_permit
FROM vc_bldg_permits

 * postgresql://postgres:***@localhost:5432/vancouver_issued_permit
1 rows affected.

[(1564, 0, Decimal('133'))]

In [24]:
%%sql
--Lowest and highest project value excluding projects with project value of zero

SELECT MIN(project_value) AS lowest_proj_value,
       MAX(project_value)::money AS highest_project_value
FROM vc_bldg_permits    
WHERE project_value > '0'

 * postgresql://postgres:***@localhost:5432/vancouver_issued_permit
1 rows affected.

[(Decimal('1.00'), '$1,468,680,000.00')]

In [25]:
%%sql
--Average project value per permit

SELECT ROUND(AVG(project_value), 2)::money AS avg_value_permit
FROM vc_bldg_permits

 * postgresql://postgres:***@localhost:5432/vancouver_issued_permit
1 rows affected.

[('$697,759.12',)]

In [9]:
%%sql
--Confirming how many permits/projects have project value of zero 

SELECT COUNT(*) AS permits_proj_value_zero
FROM vc_bldg_permits
WHERE project_value = '0'

 * postgresql://postgres:***@localhost:5432/vancouver_issued_permit
1 rows affected.

[(5774,)]

In [26]:
%%sql
--Average project value per permit removing permits issued with project value of zero

SELECT ROUND(AVG(project_value), 2)::money AS avg_value_permit
FROM vc_bldg_permits
WHERE project_value <> '0'

 * postgresql://postgres:***@localhost:5432/vancouver_issued_permit
1 rows affected.

[('$838,118.00',)]

In [11]:
%%sql
--Type of work for permits issued

SELECT type_of_work,
       COUNT(*)
FROM vc_bldg_permits
GROUP BY type_of_work
ORDER BY COUNT(*) DESC

 * postgresql://postgres:***@localhost:5432/vancouver_issued_permit
6 rows affected.

[('Addition / Alteration', 16738),
 ('New Building', 7863),
 ('Salvage and Abatement', 4939),
 ('Demolition / Deconstruction', 4565),
 ('Temporary Building / Structure', 328),
 ('Outdoor Uses (No Buildings Proposed)', 45)]

In [12]:
%%sql

SELECT permit_category,
       COUNT(*)
FROM vc_bldg_permits
GROUP BY permit_category
ORDER BY COUNT(*) DESC

 * postgresql://postgres:***@localhost:5432/vancouver_issued_permit
5 rows affected.

[(None, 14812),
 ('Renovation - Commercial/ Mixed Use - Lower Complexity', 6944),
 ('Renovation - Residential - Lower Complexity', 6061),
 ('New Build - Low Density Housing', 5199),
 ('New Build - Standalone Laneway', 1462)]

In [13]:
%%sql
--Checking if it was issued more than one permit for the same address (limiting to top first 20)

SELECT address,
       COUNT(*)
FROM vc_bldg_permits
GROUP BY address
ORDER BY COUNT(*) DESC
LIMIT 20

 * postgresql://postgres:***@localhost:5432/vancouver_issued_permit
20 rows affected.

[('701 W GEORGIA STREET, Vancouver, BC V7Y 1K8', 104),
 ('1755 HARO STREET, Vancouver, BC V6G 1H2', 75),
 ('1501 HARO STREET, Vancouver, BC V6G 1G4', 75),
 ('1055 DUNSMUIR STREET, Vancouver, BC V7X 1J1', 75),
 (None, 73),
 ('650 W 41ST AVENUE, Vancouver, BC V5Z 2M9', 68),
 ('1005 JERVIS STREET, Vancouver, BC V6E 3T1', 67),
 ('650 W GEORGIA STREET, Vancouver, BC V6B 4N9', 63),
 ('666 BURRARD STREET, Vancouver, BC V6C 2X8', 61),
 ('1177 W HASTINGS STREET, Vancouver, BC V6E 2K3', 57),
 ('885 W GEORGIA STREET, Vancouver, BC V6C 3E8', 57),
 ('1075 W GEORGIA STREET, Vancouver, BC V6E 3C9', 56),
 ('200 GRANVILLE STREET, Vancouver, BC V6C 1S4', 53),
 ('1066 W HASTINGS STREET, Vancouver, BC V6E 4M1', 52),
 ('595 BURRARD STREET, Vancouver, BC V7X 1K8', 49),
 ('355 BURRARD STREET, Vancouver, BC V6C 0C5', 48),
 ('1055 W HASTINGS STREET, Vancouver, BC V6E 2E9', 48),
 ('700 W GEORGIA STREET, Vancouver, BC V7Y 1K8', 47),
 ('505 BURRARD STREET, Vancouver, BC V7X 1M3', 47),
 ('609 GRANVILLE STREET, Vancouver, BC', 46)]

In [14]:
%%sql
--Checking for typographical errors on streets names

SELECT address
FROM vc_bldg_permits
WHERE address NOT LIKE '%STREET%'
    AND address NOT LIKE '%AVENUE%'
    AND address NOT LIKE '%ROAD%'
    AND address NOT LIKE '%DRIVE%'
    AND address NOT LIKE '%WAY%'
    AND address NOT LIKE '%LANE%'
    AND address NOT LIKE '%PLACE%'
    AND address NOT LIKE '%CRESCENT%'
    AND address NOT LIKE '%BOULEVARD%'
    AND address NOT LIKE '%COURT%'
    AND address NOT LIKE '%MEWS%'
    AND address NOT LIKE '%CROSSING%'
    AND address NOT LIKE '%SQUARE%'
    AND address NOT LIKE '%WALK%'
ORDER BY address

 * postgresql://postgres:***@localhost:5432/vancouver_issued_permit
31 rows affected.

[('1006 IRONWORK PASSAGE, Vancouver, BC V6H 3P1',),
 ('1015 IRONWORK PASSAGE, Vancouver, BC V6H 3R4',),
 ('1100 THE CASTINGS, Vancouver, BC',),
 ('1128 IRONWORK PASSAGE, Vancouver, BC V6H 3P1',),
 ('1363 RAILSPUR ALLEY, Vancouver, BC V6H 4G9',),
 ('1387 RAILSPUR ALLEY, Vancouver, BC V6H 4G9',),
 ('1583 COAL HARBOUR QUAY, Vancouver, BC',),
 ('1817 VICTORIA DIVERSION, Vancouver, BC V5N 2K2',),
 ('2291 MARLIN QUAY, Vancouver, BC',),
 ('2715 KITSILANO DIVERSION, Vancouver, BC V6K 4S4',),
 ('3971 BOYD DIVERSION, Vancouver, BC V5R 2C5',),
 ('4270 NAUTILUS CLOSE, Vancouver, BC V6R 4L2',),
 ('4275 NAUTILUS CLOSE, Vancouver, BC V6R 4L1',),
 ('4340 JERICHO CIRCLE, Vancouver, BC V6R 1E9',),
 ('4350 JERICHO CIRCLE, Vancouver, BC V1V 1V1',),
 ('4355 JERICHO CIRCLE, Vancouver, BC V6R 1G1',),
 ("610 STAMP'S LANDING, Vancouver, BC V5Z 3Z1",),
 ('633 BUCKETWHEEL, Vancouver, BC V5Z 4A7',),
 ('661 MARKET HILL #C, Vancouver, BC V5Z 4B5',),
 ('668 CITADEL PARADE, Vancouver, BC V6B 1W6',),
 ('711 MILLYARD, Vancouver, BC',),
 ('711 MILLYARD, Vancouver, BC',),
 ('711 MILLYARD, Vancouver, BC',),
 ('711 MILLYARD, Vancouver, BC',),
 ('711 MILLYARD, Vancouver, BC',),
 ('711 MILLYARD, Vancouver, BC',),
 ('792 MILLBANK, Vancouver, BC V5Z 3Z3',),
 ('810 COMMERCIAL DIVERSION NORTH, Vancouver, BC V5L 3Y5',),
 ('820 MILLBANK, Vancouver, BC V5Z 3Z4',),
 ('900 SCHOOL GREEN, Vancouver, BC V6H 3N7',),
 ('900 SCHOOL GREEN, Vancouver, BC V6H 3N7',)]

In [27]:
%%sql
--Count of distinct applicants and average number of permits per applicant

SELECT COUNT(DISTINCT applicant) AS total_applicants,
       COUNT(permit_number) / COUNT(DISTINCT applicant) AS avg_permit_applicant
FROM vc_bldg_permits

 * postgresql://postgres:***@localhost:5432/vancouver_issued_permit
1 rows affected.

[(8502, 4)]

In [28]:
%%sql
--Top 10 permit applicants

SELECT applicant,
       COUNT(*),
       RANK() OVER(ORDER BY COUNT(*) DESC)
FROM vc_bldg_permits
GROUP BY applicant 
ORDER BY COUNT(*) DESC
LIMIT 10

 * postgresql://postgres:***@localhost:5432/vancouver_issued_permit
10 rows affected.

[('Vincent Wan DBA: D.V. Design Ltd.', 570, 1),
 ('Qi Li DBA: LQ Design Group Ltd', 467, 2),
 ('Michael Lu DBA: DWG Design Work Group Ltd.', 318, 3),
 ('McCuaig and Associates Engineering Ltd.', 298, 4),
 ('Mike Chu DBA: Westpoint Design & Development Ltd.', 272, 5),
 ('Carman Kwan DBA: Architectural Collective', 239, 6),
 ('Stephanie Ho DBA: Perfectly Yours Design and Management Co.', 215, 7),
 ('Amardeep Dhillon DBA: Space Smart Home Design', 196, 8),
 ('Danny Lung & Sharon Chen DBA: Lung Designs Group Ltd.', 195, 9),
 ('Mo Maani', 194, 10)]

In [17]:
%%sql
--Validating applicant data 
--Found that applicant has DBA (doing business as) what impacted the count 
--Applicant field require data cleaning to remove data inconsistency by typographical error (no impact on top 10 applicant)

SELECT CASE WHEN applicant LIKE '%DBA%' THEN split_part(applicant, ':', 2) --removing text from string before delimiter :
            ELSE applicant END AS applicant_company,
       COUNT(*)
FROM vc_bldg_permits
WHERE applicant LIKE '%WSP%'
GROUP BY applicant_company
ORDER BY COUNT(*) DESC
LIMIT 10

 * postgresql://postgres:***@localhost:5432/vancouver_issued_permit
6 rows affected.

[(' WSP Canada', 12),
 (' WSP Canada Inc', 12),
 (' WSP Canada Inc.', 6),
 (' WSP', 4),
 (' WSP Canada Ltd', 1),
 (' WSP Canada inc', 1)]

In [29]:
%%sql
--Top 10 permit applicants as company/group

SELECT CASE WHEN applicant LIKE '%DBA%' THEN split_part(applicant, ':', 2) --removing text from string before delimiter :
            ELSE applicant END AS applicant_company,
       COUNT(*),
       RANK() OVER(ORDER BY COUNT(*) DESC)
FROM vc_bldg_permits
GROUP BY applicant_company
ORDER BY COUNT(*) DESC
LIMIT 10

 * postgresql://postgres:***@localhost:5432/vancouver_issued_permit
10 rows affected.

[(' D.V. Design Ltd.', 570, 1),
 (' LQ Design Group Ltd', 467, 2),
 (' DWG Design Work Group Ltd.', 318, 3),
 ('McCuaig and Associates Engineering Ltd.', 298, 4),
 (' Westpoint Design & Development Ltd.', 272, 5),
 (' Architectural Collective', 239, 6),
 (' Perfectly Yours Design and Management Co.', 215, 7),
 (' Space Smart Home Design', 196, 8),
 (' Lung Designs Group Ltd.', 195, 9),
 ('Mo Maani', 194, 10)]

In [19]:
%%sql
--Permits issued to property use dwelling

SELECT property_use,
       COUNT(*)
FROM vc_bldg_permits
WHERE property_use LIKE '%Dwelling%'
GROUP BY property_use
ORDER BY COUNT(*) DESC

 * postgresql://postgres:***@localhost:5432/vancouver_issued_permit
39 rows affected.

[('Dwelling Uses', 24216),
 ('Dwelling Uses,Retail Uses', 112),
 ('Dwelling Uses,Parking Uses', 48),
 ('Dwelling Uses,Service Uses', 33),
 ('Dwelling Uses,Office Uses,Retail Uses', 27),
 ('Dwelling Uses,Office Uses', 26),
 ('Dwelling Uses,Parking Uses,Retail Uses', 23),
 ('Dwelling Uses,Retail Uses,Service Uses', 21),
 ('Dwelling Uses,Institutional Uses', 18),
 ('Dwelling Uses,Parking Uses,Retail Uses,Service Uses', 16),
 ('Cultural/Recreational Uses,Dwelling Uses', 8),
 ('Dwelling Uses,Office Uses,Parking Uses,Retail Uses', 7),
 ('Dwelling Uses,Manufacturing Uses', 5),
 ('Dwelling Uses,Office Uses,Parking Uses,Retail Uses,Service Uses', 4),
 ('Dwelling Uses,Office Uses,Retail Uses,Service Uses', 4),
 ('Dwelling Uses,Institutional Uses,Parking Uses', 4),
 ('Dwelling Uses,Parking Uses,Service Uses', 3),
 ('Dwelling Uses,Office Uses,Service Uses', 3),
 ('Dwelling Uses,Live-Work Uses', 3),
 ('Dwelling Uses,Institutional Uses,Parking Uses,Retail Uses', 3),
 ('Dwelling Uses,Manufacturing Uses,Office Uses,Retail Uses,Service Uses', 2),
 ('Agricultural Uses,Dwelling Uses', 2),
 ('Cultural/Recreational Uses,Dwelling Uses,Office Uses,Parking Uses,Retail Uses', 1),
 ('Cultural/Recreational Uses,Dwelling Uses,Office Uses', 1),
 ('Dwelling Uses,Institutional Uses,Retail Uses', 1),
 ('Dwelling Uses,Institutional Uses,Office Uses', 1),
 ('Agricultural Uses,Dwelling Uses,Parking Uses', 1),
 ('Dwelling Uses,Institutional Uses,Office Uses,Retail Uses', 1),
 ('Dwelling Uses,Live-Work Uses,Parking Uses,Retail Uses,Service Uses', 1),
 ('Cultural/Recreational Uses,Dwelling Uses,Institutional Uses,Retail Uses', 1),
 ('Dwelling Uses,Office Uses,Parking Uses', 1),
 ('Dwelling Uses,Manufacturing Uses,Office Uses,Parking Uses,Service Uses', 1),
 ('Cultural/Recreational Uses,Dwelling Uses,Retail Uses', 1),
 ('Dwelling Uses,Manufacturing Uses,Office Uses,Parking Uses', 1),
 ('Cultural/Recreational Uses,Dwelling Uses,Office Uses,Retail Uses,Service Uses', 1),
 ('Cultural/Recreational Uses,Dwelling Uses,Retail Uses,Service Uses', 1),
 ('Dwelling Uses,Institutional Uses,Service Uses', 1),
 ('Dwelling Uses,Institutional Uses,Office Uses,Parking Uses,Service Uses', 1),
 ('Dwelling Uses,Manufacturing Uses,Office Uses', 1)]

In [30]:
%%sql
--Top 10 specific category of permits issued related to dwelling and house

SELECT specific_use_category,
       COUNT(*),
       RANK() OVER (ORDER BY COUNT(*) DESC)
FROm vc_bldg_permits
WHERE specific_use_category LIKE '%House%' OR specific_use_category  LIKE '%Dwelling%'
GROUP BY specific_use_category
ORDER BY COUNT(*) DESC
LIMIT 10

 * postgresql://postgres:***@localhost:5432/vancouver_issued_permit
10 rows affected.

[('Single Detached House', 8817, 1),
 ('Single Detached House w/Sec Suite', 4948, 2),
 ('Multiple Dwelling', 4553, 3),
 ('Laneway House', 2952, 4),
 ('Dwelling Unit', 297, 5),
 ('Multiple Conversion Dwelling', 270, 6),
 ('Infill Single Detached House', 162, 7),
 ('Multiple Dwelling,Retail Store', 63, 8),
 ('Community Ctr./Neighbourhood House', 53, 9),
 ('Multiple Dwelling,Parking Garage', 33, 10)]

In [32]:
%%sql
--Dwelling permits issued to each neighborhood and total project value sum (ranked by total project value sum)

SELECT geo_local_area,
       COUNT(*) AS total_permit_issued,
       CAST(ROUND(SUM(project_value), 2) AS money) AS sum_proj_value,
       RANK() OVER (ORDER BY (CAST(ROUND(SUM(project_value), 2) AS money)) DESC) 
FROM (
        SELECT geo_local_area,
               project_value,
               property_use
        FROM vc_bldg_permits
        WHERE property_use LIKE '%Dwelling%'
        GROUP BY geo_local_area, project_value, property_use) AS dwelling
WHERE geo_local_area IS NOT NULL
GROUP BY geo_local_area
ORDER BY sum_proj_value DESC

 * postgresql://postgres:***@localhost:5432/vancouver_issued_permit
22 rows affected.

[('Oakridge', 258, '$2,119,085,150.50', 1),
 ('West End', 257, '$1,166,314,375.46', 2),
 ('Downtown', 326, '$948,818,438.00', 3),
 ('Marpole', 360, '$836,090,030.93', 4),
 ('Killarney', 449, '$796,094,636.28', 5),
 ('Kensington-Cedar Cottage', 898, '$796,019,390.93', 6),
 ('Renfrew-Collingwood', 760, '$754,644,387.95', 7),
 ('Riley Park', 553, '$667,742,414.92', 8),
 ('Mount Pleasant', 290, '$651,718,125.98', 9),
 ('Hastings-Sunrise', 732, '$502,828,615.82', 10),
 ('Arbutus-Ridge', 277, '$498,308,618.00', 11),
 ('Dunbar-Southlands', 581, '$458,999,212.72', 12),
 ('Sunset', 756, '$442,764,913.19', 13),
 ('Strathcona', 115, '$423,285,831.00', 14),
 ('Victoria-Fraserview', 646, '$324,281,345.20', 15),
 ('South Cambie', 180, '$322,259,710.26', 16),
 ('Kitsilano', 457, '$320,353,823.05', 17),
 ('Grandview-Woodland', 315, '$311,353,847.84', 18),
 ('West Point Grey', 382, '$306,199,250.24', 19),
 ('Kerrisdale', 299, '$297,136,291.21', 20),
 ('Shaughnessy', 228, '$244,051,095.30', 21),
 ('Fairview', 225, '$221,180,934.75', 22)]

In [31]:
%%sql
--Dwelling permits issued to each neighborhood and total project value sum (ranked by total permits issued)

SELECT geo_local_area,
       COUNT(*) AS total_permit_issued,
       CAST(ROUND(SUM(project_value), 2) AS money) AS sum_proj_value,
       RANK() OVER (ORDER BY COUNT(*) DESC) 
FROM (
        SELECT geo_local_area,
               project_value,
               property_use
        FROM vc_bldg_permits
        WHERE property_use LIKE '%Dwelling%'
        GROUP BY geo_local_area, project_value, property_use) AS dwelling
WHERE geo_local_area IS NOT NULL
GROUP BY geo_local_area
ORDER BY COUNT(*) DESC

 * postgresql://postgres:***@localhost:5432/vancouver_issued_permit
22 rows affected.

[('Kensington-Cedar Cottage', 898, '$796,019,390.93', 1),
 ('Renfrew-Collingwood', 760, '$754,644,387.95', 2),
 ('Sunset', 756, '$442,764,913.19', 3),
 ('Hastings-Sunrise', 732, '$502,828,615.82', 4),
 ('Victoria-Fraserview', 646, '$324,281,345.20', 5),
 ('Dunbar-Southlands', 581, '$458,999,212.72', 6),
 ('Riley Park', 553, '$667,742,414.92', 7),
 ('Kitsilano', 457, '$320,353,823.05', 8),
 ('Killarney', 449, '$796,094,636.28', 9),
 ('West Point Grey', 382, '$306,199,250.24', 10),
 ('Marpole', 360, '$836,090,030.93', 11),
 ('Downtown', 326, '$948,818,438.00', 12),
 ('Grandview-Woodland', 315, '$311,353,847.84', 13),
 ('Kerrisdale', 299, '$297,136,291.21', 14),
 ('Mount Pleasant', 290, '$651,718,125.98', 15),
 ('Arbutus-Ridge', 277, '$498,308,618.00', 16),
 ('Oakridge', 258, '$2,119,085,150.50', 17),
 ('West End', 257, '$1,166,314,375.46', 18),
 ('Shaughnessy', 228, '$244,051,095.30', 19),
 ('Fairview', 225, '$221,180,934.75', 20),
 ('South Cambie', 180, '$322,259,710.26', 21),
 ('Strathcona', 115, '$423,285,831.00', 22)]

CONCLUSION

Regarding dwellings and houses, Kensington-Cedar Cottage is the neighborhood with the highest number of building permits issued, and the Oakridge area is the region with the higher amount of projects value sum.